<!DOCTYPE html>
<html>
<head>
  <title>homepage</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center; padding: 2px auto;">Mbeya University of Science and Technology Fault Report Management system</h1>
    <div style="text-align: center; padding: 2px auto; border:2px double greenyellow; border-radius:2em;"><p>Welcome to Mbeya University of Science and Technology System of infrastructure fault management, feel free to report any kind of damage of infrastures and give us suggestions what should be remove and what should be added to make our University in a good and favourable condition. </p></div>
    <div style="text-align: center; padding: 2px auto; margin-top: 20px;">
          <a href="/admin"><button>Log in(Admin Only)</button></a><br><br>
          <a href="/report"><button onclick="clickButton">Other user</button></a>
    </div>

  </div>
     

</body>
</html>